* {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
  font-size: 72px;
  text-transform: uppercase;
  color: black;
  background-color: rgba(128, 15, 15, 1);
}
