#container1, #container2, #container3, #container4, #container5, #container6
{
  list-style-type: none;
  background: #fff;
  height: 600px;
  padding: 0 px;
  margin-top: 11%;
  position: absolute;
  border-radius: 5%;
}
.sliderbutton1, .sliderbutton2, .sliderbutton3, .sliderbutton4, .sliderbutton5, .sliderbutton6
{
  padding: 0;
  margin: 0;
  cursor: pointer;
  float: left;
  height: 600px;
  width: 40px;
}
#slideleft1, #slideleft2, #slideleft3, #slideleft4, #slideleft5, #slideleft6
{
  background-image: url("left.jpg");
}

#slideright1, #slideright2, #slideright3, #slideright4, #slideright5, #slideright6
{
  background-image: url("right.jpg");
}

#slider1, #slider2, #slider3, #slider4, #slider5, #slider6
{
  float: left;
  height: 600px;
  overflow: auto;
  position: relative;
  width: 900px;
}
#slider1 ul {
  left: 0;
  list-style-type: none;
  position: absolute;
  top: 0;
}
#slider1 li {
  float: left;
  height: 600px;
  width: 900px;
}

#slider2 ul {
  left: 0;
  list-style-type: none;
  position: absolute;
  top: 0;
}
#slider2 li {
  float: left;
  height: 600px;
  width: 900px;
}

#slider3 ul {
  left: 0;
  list-style-type: none;
  position: absolute;
  top: 0;
}
#slider3 li {
  float: left;
  height: 600px;
  width: 900px;
}

#slider4 ul {
  left: 0;
  list-style-type: none;
  position: absolute;
  top: 0;
}
#slider4 li {
  float: left;
  height: 600px;
  width: 900px;
}

#slider5 ul {
  left: 0;
  list-style-type: none;
  position: absolute;
  top: 0;
}
#slider5 li {
  float: left;
  height: 600px;
  width: 900px;
}

#slider6 ul {
  left: 0;
  list-style-type: none;
  position: absolute;
  top: 0;
}
#slider6 li {
  float: left;
  height: 600px;
  width: 900px;
}
